body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: #FFD900;
    padding: 25px;
    margin-bottom: 0px;
}

#reviva {
    background-color: #514988;
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    height: 680px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px 50px;
        
}

.revivaOEpico {
    color: #FFD900;
    
}

.textoMaior {
    font-size: 29px;
}

.timer{
    display: grid;
    grid-auto-flow: column;
    color: #514988;
    text-align: right;
}

.countdown{
    width: 50%;
    color: #E33881;
    width: 50%;
    font-size: 20px;
}

.alerquina{
    width: 50px;
}

.textoCard{
    color:#FFD900;
    margin-left: 20px;
    font-size: 26px;
}

.card{
    display: flex;
}

button{
    background-color: #514988;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    width: 596px;
    height: 120px;
    border-radius: 10px;
    border: none;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-top: 30px;

}